@model OrtResponde.Models.Answer

@{
    ViewData["Title"] = "Create";
}

    <h1> @ViewData["QuestionDes"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionId" value="@ViewData["QuestionId"]" />
            <div class="form-group">
                <label asp-for="Respuesta" class="control-label"></label>
                <input asp-for="Respuesta" class="form-control" />
                <span asp-validation-for="Respuesta" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dislikes" class="control-label"></label>
                <input asp-for="Dislikes" class="form-control" />
                <span asp-validation-for="Dislikes" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="QuestionId" class="control-label"></label>
            <select asp-for="QuestionId" class ="form-control" asp-items="ViewBag.QuestionId"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
