@model OrtResponde.Models.Question
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Delete";
}


<h3>¿Esta seguro que desea borrar esta pregunta?</h3>
<p>*Se perderan todas las respuestas</p>
<div>
<hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">Volver a "Mis Preguntas"</a>
    </form>
</div>
